autoflake==1.3.1
check-manifest==0.42
doc8==0.8.0
flake8-commas==2.0.0
flake8-quotes==3.2.0
flake8==3.8.2
freezegun==0.3.15 # Freeze clock for unit tests
isort==4.3.21
mypy==0.770
pip-check-reqs-pip-gte-20==2.0.3.4
pydocstyle==5.0.2
pylint==2.5.2
pylint_flask_sqlalchemy==0.2.0
pyroma==2.6
pytest-cov==2.9.0  # Measure code coverage
pytest-freezegun==0.4.1
pytest==5.4.2
requests-mock-flask==2020.1.20.2
responses==0.10.14 # Add mocks for requests
sphinx==3.0.3
sphinxcontrib-httpdomain # Describe RESTful HTTP APIs in Sphinx
sphinxcontrib.spelling==5.0.0
twine==3.1.1
vulture==1.4
yapf==0.30.0
