flask==0.10.1
Flask-Bcrypt==0.7.1
Flask-Login==0.3.2
Flask-SQLAlchemy==2.1
flask_jsonschema==0.1.1
Flask-Negotiate==0.1.0
pytz==2016.4
requests==2.10.0
Sphinx # Build documentation
sphinx_rtd_theme # Theme for documentation
sphinxcontrib-httpdomain # Describe RESTful HTTP APIs in Sphinx
